@font-face {
    font-family: 'Work Sans', sans-serif;
    src: url('fonts/font.ttf');
}

body {
    background: white;
    color: #AAA;
    font-size: 1em;
    font-family: 'Work Sans', sans-serif;
    line-height: 1.5em;
    margin: 1em;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 0.5em;
}

::-webkit-scrollbar-track {
    background: lightgray;
}

::-webkit-scrollbar-thumb {
    background: whitesmoke;
}

br {
    content: '';
    display: block;
    margin-bottom: 1em;
}

.img {
    white-space: pre;
    display: inline-block;
    position: relative;
    left: 50%;
    font-family: 'Nanum Gothic Coding', monospace;
    transform: translateX(-50%);
    line-height: 1em;
}

.room-name {
    margin-top: 2em;
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 2em;
}

.title {
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 3em;
    line-height: 3em;
}

#output div {
    margin-bottom: 1em;
}

.input {
    display: none;
}

#input {
    color: rgb(146, 121, 236);
    background: transparent;
    font-size: 1em;
    font-family: 'Work Sans', sans-serif;
    position: relative;
    width: 100%;
}

#input:focus {
    outline: none;
}

/* color the user's input */
.user {
    color: rgb(146, 121, 236);
}

a {
    color: rgb(54, 169, 214);
}

@keyframes blink {
    0% {
        background: #AAA;
    }

    49% {
        background: #AAA;
    }

    60% {
        background: transparent;
    }

    99% {
        background: transparent;
    }

    100% {
        background: #AAA;
    }
}
